*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;

}

:root{
    --primary-color: #000428;
    --secondary-color: #004e92;
    --side-color: #4CA1AF;
    --red-ocean: #A43931;
    --maroon-deep: #8E0E00;
    --clear-sky: #005C97;
}

#header{
    padding-top: 1.2rem;
}

#myLogo:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.nav-link{
    padding: 0 2rem!important;
    font-size: 17.5px;
    color: var(--primary-color)!important;
}

.nav-link:hover{
    color: var(--side-color)!important;
}

.title{
    padding-top: 8rem;
    padding-bottom: 2rem;
    font-size: 45px;
    font-weight: bold;
    color: var(--primary-color);
}

.subtitle{
    font-size: 35px;
    color: var(--secondary-color);
    padding-bottom: 2rem;
}

.button{
    border: 1px solid var(--clear-sky);
    height: 55px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    color: var(--secondary-color);
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.button:visited{
    outline: none;
    text-decoration: none;
}

.button:hover{
    color: white;
    background-color: var(--secondary-color);
}

.button:active{
    outline: none;
}

#contactBtn{
    margin-left: 1rem;
    width: 100px;
}

.ianImg{
    margin-top: 5rem!important;
    margin-left: 8rem;
}

@media only screen and (max-width: 480px){
    *{
        box-sizing: border-box;
    }

    .ianImg{
        display: none;
    }

    #myLogo{
        height: 50px;
        width: 50px;
    }

    .nav-link{
        padding: 7px 0px!important;
        text-align: center;
        font-size: 16px;
    }
    #togglerBtn{
        margin-right: 1rem;
    }

    .title{
        width: 200%;
        text-align: center;
        font-size: 39px;
        padding-left: 0.5rem;
    }

    .subtitle{
        width: 200%;
        font-size: 20px;
        text-align: justify;
        padding-left: 1.7rem;
        padding-right: 1.2rem;
        padding-top: 1.4rem;
        padding-bottom: 2rem;
    }

    #downloadBtn{
        margin-left: 4rem;
    }

    #contactBtn{
        margin-left: 12rem;
        margin-top: -5rem;
    }

    
}